@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

body {
	font-family: Ariel, Verdana;
	color: #344152;
	margin: 0.625rem; 
	background: #000040;
}

header {
	font-family: cursive;
	background-color: #0A52D7;
	color: rgb(226, 14, 14);
	padding: 1em 2em;
	display: flex;
	justify-content: space-between;
	align-items: center;
    border: 0.1875rem solid #FFFF04; 
}

.mainHead {
    text-align: center;
    display: flow;
}

p {
	font-family: "Source Serif 4", Arial, sans-serif;
	font-size: 1.5625rem; 
	color: #f1f3f1;
    margin-bottom: 1em; 
	text-align: center;
}

th {
    background-color: #000040;
    color: blanchedalmond;
}

table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5rem;
    font-family: "Roboto", Arial, sans-serif;
}

tr:nth-child(odd) {
    background-color: #020277;
    color: white;
}

tr:nth-child(even) {
    background-color: #000040;
    color: white;
}


nav {
    color: rgb(235, 234, 230);
    gap: 0.625rem; 
	display: flex; 
    align-items: center;
}

form {
    color: white;
    font-size: 1.5rem; 
}

button {
    background-color: #28a745;
    color: white;
    padding: 0.5em 1em;
    cursor: pointer;
    border: 0.1rem solid #FFFF04; 
    border-radius: 0.5rem;
}

footer {
	background-color: #0A52D7;
    color: white;
    text-align: center;
    padding: 1em;
	border: 0.1875rem solid #FFFF04; 
}

div {
    text-align: center;
    color: #ffffff;
}

.searching {
    display: flex;                
    align-items: center;          
    justify-content: space-around; 
    width: 100%;
}


.error-message {
	color: red;
	margin-top: 0.625rem; 
}


.suggestions {
    border: 0.0625rem solid #ccc; 
    max-width: 30.25rem; 
    background-color: white;
    position: absolute;
    z-index: 1000;
    left: 0;
    width: 100%;
}
.suggestions:empty {
    display: none;
}

.suggestion-item {
    padding: 0.5rem; 
    cursor: pointer;
    color: black;
    font-size: 0.75rem; 
    text-align: left;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

.searchDiv {
    padding-bottom: 10rem;
    padding-top: 10rem;
    position: relative; 
}

.searchInput {
  width: 100%;
  padding: 0.3125rem;
  box-sizing: border-box;
}
.sorting {
    justify-content: center;
    padding-bottom: 1rem;
}
