body {
	font-family: Ariel, Verdana;
	color: #344152;
	margin: 0.625rem; 
	background: #000040;
}

header {
	font-family: cursive;
	background-color: #0A52D7;
	color: rgb(226, 14, 14);
	padding: 1em 2em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 0.1875rem solid #FFFF04; 
}

.mainHead {
    text-align: center;
    display: flow;
}

p {
	font-family: "Helvetica", Arial, sans-serif;
	font-size: 1.5625rem; 
	color: #f1f3f1;
    margin-bottom: 1em; 
	text-align: center;
}

hr {
    border: 0.0625rem dashed blanchedalmond; 
}

th {
    background-color: #000040;
    color: blanchedalmond;
}

table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5rem;
}

tr:nth-child(odd) {
    background-color: #020277;
    color: white;
}

tr:nth-child(even) {
    background-color: #000040;
    color: white;
}

fieldset {
    border: 0.125rem solid rgb(233, 227, 200); 
}

nav {
    color: rgb(235, 234, 230);
    gap: 0.625rem; 
	display: flex; 
    align-items: center;
}

form {
    color: white;
}

button {
    background-color: #28a745;
    color: white;
    padding: 0.5em 1em;
    cursor: pointer;
    border: 0.1875rem solid #FFFF04; 
}

footer {
	background-color: #0A52D7;
    color: white;
    text-align: center;
    padding: 1em;
	border: 0.1875rem solid #FFFF04; 
}

div {
    text-align: center;
    color: #ffffff;
}

.searching {
    display: flex;                
    align-items: center;          
    justify-content: space-around; 
    width: 100%;
}

.leftSearch {
    padding-bottom: 10rem;
    padding-top: 10rem;
}

.error-message {
	color: red;
	margin-top: 0.625rem; 
}

.rightSearch {
    padding-bottom: 10rem;
    padding-top: 10rem;
}

.suggestions {
    border: 0.0625rem solid #ccc; 
    max-width: 15.625rem; 
    background-color: white;
    position: absolute;
    z-index: 1000;
}

.suggestion-item {
    padding: 0.5rem; 
    cursor: pointer;
    color: black;
    font-size: 0.75rem; 
    text-align: left;
    width: 8rem;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}
